@charset "utf-8";
@font-face {
    font-family:  htmlfont;
    src: url("../../foto/BTitrBold_0.ttf");
}
p{
   // font-family: htmlfont;
    //font-size: 55px;
}
.font1{
    //font-family: tahoma;
    //font-size: 75px;
}
body{
    font-family: htmlfont;
}
*{
    font-size: 35px;
}