@charset "utf-8";
img{
    margin: 10px;
}
.n1{
filter: blur(5px);
}
.n2{
    filter: brightness(30%);
}
.n3{
filter: contrast(150%);
}
.n4{
filter: drop-shadow(10px 15px 10px black);
}
.n5{
filter: grayscale(100%);
}
.n6{
filter: hue-rotate(130deg);
}
.n7{
filter: invert(100%);
}
.n8{
filter: opacity(45%);
}
.n9{
filter: saturate(6);
}
.n10{
filter: sepia(80%);
}